{{#partial "content"}}

    <h2 style="color: white;">Here goes your list of General Sightings</h2>

    <div class="ranger_animals container-fluid">
        <div class="overlay">
            {{#if allSightings}}
                {{#each allSightings}}
                    <div id="ranger_animals" class="col-md-3" style="color: white;">
                        <h3>Name: {{animalId}}</h3>
                        <hr>
                        <h4>Health: {{animalLocation}}</h4>
                        <h4>Time last Seen: {{lastSeen}}</h4>
                        <h4>rangerId: {{rangerId}}</h4>
                    </div>

                {{/each}}
            {{else}}
                <p style="color: white;">This Ranger has entered no Sightings yet</p>
            {{/if}}
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}